* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3DCE6;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    width: 900px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

#login {
    flex: 1;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0B4CAA;
    color: #ffffff;
}

#login form {
    width: 100%;
}

#login h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    background-color: #0B4CAA;
    color: #333333;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #F5F6F1;
}

.input-box i {
    color: #F5F6F1;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.register-link {
    text-align: center;
    font-size: 14px;
    margin: 20px 0 15px;
}

.register-link a {
    text-decoration: none;
    color: #fff;
}

.register-link a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background-color: #F5F6F1;
    color: #0E2E7B;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
}

.login:hover {
    background-color: #0a54bb;
    color: #F5F6F1;
    transition: 0.3s;
}

#info-box {
    flex: 1;
    /* background: url('./img/fundo-roxo.jpg') center/cover no-repeat; */
    background-color: #002e5bd8;
    color: #ffffff;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}



.info-content h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
}

.info-content p {
    color: #1C1F1F;
}