/* Tudo dentro da section */
#sub-container {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100%;
    position: relative;
    flex-direction: column;

}

/* Travando o scroll */

html , body {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  main#container-principal {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

/* Cabeçalho */
.conteiner-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
}

/* Titulo */
.titulo-safeport {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    color: #F0F8FF;
    font-size: 32px;
}

.sub-titulo {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Paste escrita */
.conteudo {
    position: relative;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.053);
    background-color: #0458ff3f;
    border-radius: 16px;
    backdrop-filter: blur(15px);
    color: #fff;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    animation: aparecerSuave 1s ease-out;
}

.conteudo h3 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}
/* Animação */
@keyframes aparecerSuave {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.grupo-esquerdo {
   display: flex;
   align-items: center;
   gap: 1rem;
}

/* Estilo do botão */
#BhutanRegistration {
    padding: 10px 16px;
    border-radius: 16px;
    text-decoration: none;
    font-size: 16px;
    background-color: #0458ff;
    color: white;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #BhutanRegistration:hover {
    background-color:#0458ff9f;
  }

/* Imagem */
.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/resources/images/Background-ancora.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(1px);
}

